@model List<PracticaTaller.Models.AccesoDatos.Producto>

<br />
<br />
<br />
<style>
    #content {
        position: absolute;
        min-height: 50%;
        width: 180%;
        top: 8%;
        left: 12%;
    }

    .selected {
        cursor: pointer;
    }

        .selected:hover {
            background-color: #0585C0;
            color: white;
        }

    .seleccionada {
        background-color: #0585C0;
        color: white;
    }
</style>



<div id="">
    <label>Agregar artículos</label>
    <input id="txt-buscar" type="text" placeholder="Producto" />
    <button id="bt_add" class="btn btn-default" disabled="disabled">Agregar</button>
    <button id="bt_del" class="btn btn-default">Eliminar</button>
    <button id="bt_delall" class="btn btn-default">Eliminar todo</button>
</div>
<br/>

    <table class="table-bordered" id="tabla-productos">
        <thead>
            <tr>
                <th>Nombre:</th>
                <th>Descripción:</th>
                <th>Stock:</th>
                <th>Precio:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
            <tr class="producto">
                <td class="nombre">@producto.nombre</td>
                <td>@producto.descripcion</td>
                <td>@producto.stock</td>
                <td>@producto.precio</td>
            </tr>
            }


        </tbody>
    </table>
    <table id="tabla" class="table table-bordered">
        <thead>
            <tr>
                <th>N°</th>
                <th>Nombre:</th>
                <th>Descripción:</th>
                <th>Stock:</th>
                <th>Precio:</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>




<script src="~/Scripts/ScriptsVentas.js"></script>